
        <h3>categories</h3>
        <br />
        <ul>
            <li>
                <a href="/categories/edit/1">Finner</a>
           </li>
            <li>
                <a href="/categories/edit/2">Maske/Snorkel</a>
           </li>
            <li>
                <a href="/categories/edit/3">Regulatorsæt</a>
           </li>
            <li>
                <a href="/categories/edit/4">Tank</a>
           </li>
            <li>
                <a href="/categories/edit/5">Dykkerdragt</a>
           </li>
            <li>
                <a href="/categories/edit/6">BCD</a>
           </li>
        </ul>
    