@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dive Deep</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/CssStyles/Home.css" rel="stylesheet" />
    
  


</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="Images/DeepDiveLogoWithoutText.png" alt="Dive Deep logo" height="50" width="50">
                    Dive Deep
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="udstyrDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Udstyr
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="udstyrDropdown">
                                <li><a class="dropdown-item" href="#">BCD</a></li>
                                <li><a class="dropdown-item" href="#">DykkerDragter</a></li>
                                <li><a class="dropdown-item" href="#">Tanke</a></li>
                                <li><a class="dropdown-item" href="#">Regulatorsæt</a></li>
                                <li><a class="dropdown-item" href="#">Maske/Snorkel</a></li>
                                <li><a class="dropdown-item" href="#">Finner</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Set</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>

    <main>

        @RenderBody()

    </main>

    <footer class="footer fixed-bottom">
        <p class="contactinfo">
            <span class="line2">Adresse: Dykkervej 10,5000 Odense C</span> <br>
            <span class="line1">CVR-nummer: 81828384</span> <br>
            <span class="line3">Telefonnummer: +45 60708090</span> <br />
            <span class="line4">E-mail: info@divedeep.dk</span> <br />
            <span class="line5">DeepDive © 2025</span> <br />
        </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>

</html>
