body {
}
.footer{
    display:grid;
    background-color: lightblue;
}
.body {
    grid-template-rows: auto 1fr auto auto auto;
}
.navbar{
    background-color: lightblue;
}
.grid3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 450px;
    gap: 50px;
    padding: 30px;
    text-align: center;
}
.grid2{
    display:grid;


}
/* Drop-in i din site.css */
@media (hover: hover) and (pointer: fine) {
    .navbar .dropdown:hover > .dropdown-menu,
    .navbar .dropdown:focus-within > .dropdown-menu {
        display: block; /* vis menuen */
    }
    /* Fjern evt. lille hop mellem toggle og menu */
    .navbar .dropdown-menu {
        margin-top: 0;
    }
}
